*{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body,html{
    width: 100%;
    height: 100%;
}
.top_nav {
    width: 100%;
    height: 50px;
    background-color: #090909;
    position: fixed;
}
.top_nav h1{
    width: 200px;
    color: #fff;
    margin-left: 20px;
}
.left_nav{
    width: 220px;
    height:100%;
    background-color: #090909;
    position: fixed;
    top: 50px;
}
.left_nav li{
    width: 220px;

    line-height: 30px;

}
.left_nav li a span {
    color: #ffffff;
}
.nav_bar_level1{
    margin-left: 10px;
}
.nav_bar_level2{
    display: none;
    margin-left: 20px;
}
.nav_bar_level3{
    display: none;
    margin-left: 30px;
}
.content{
    float: right;
    width:calc(100% - 220px);
    padding-top: 50px;

}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

.route{

    height: 50px;
    line-height: 50px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 30px;
    color: #8e8e8e;

}
.group_title{
    padding-left:30px ;
    height: 50px;
    margin-bottom: 25px;
}
.group_title li{
    width: 118px;
    height: 50px;
    float: left;
    margin-right: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.group_title li:hover{
    color: deepskyblue;
    border-bottom: 3px solid deepskyblue;
}
.group_title_active{
    color: deepskyblue;
    border-bottom: 3px solid deepskyblue;
}


.group_content{
    padding-left: 30px;
    position: relative;

}
.step1 i{
    position: absolute;
    top:5px;
    left: 30px;
    color: #0099ff;
}
.step1{
    padding-left: 40px;
}
.step1 ul{
    margin:20px 0;
    height: 30px;
}
.step1 li{
    width: 140px;
    height: 30px;
    background-color: #eee ;
    float: left;
    box-shadow: 3px 3px 3px #ccc;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}
.step1 li:hover{
    color: #ffffff;
    background-color: #0099ff;
}
.step1 .group_divide_active{
    color: #ffffff;
    background-color: #0099ff;
}
.step2 i{
    position: absolute;
    top: 15px;
    left: -1px;
    color: #ce1;
}
.step2{
    padding-left: 40px;
    position: relative;
}
.step2 ul{
    margin-top: 20px;
}
.step2 li{
    width: 136px;
    height: 120px;
    float: left;
    position: relative;
    text-align: center;
    padding: 10px 5px 0px;
    margin-right: 10px;

}
.step2 li:hover{
    background: #ccf0fd;
}
.step2 .bag li span{
    position: absolute;
    top: 50px;
    left: 32px;
    color: #ffffff;
}

.step2 .bag_active{
    background: #ccf0fd;

}
.box{
    position: absolute;
    width: 280px;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px #b7eafc,
    -10px -10px 40px #b7eafc;
    padding: 20px;
}
.box .btn{
    display: block;
    width: 180px;
    margin: 10px auto 0;

}
.box>div{
    position: relative;
    padding: 10px;
    text-align: center;
}
.box .btn_modal_close{
    width: 20px;height: 20px;
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 16px;
    color: #2aabd2;
    cursor:pointer;
}












